/* MAIN STYLES  */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Merriweather', serif;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

body,
h1,
fieldset {
    margin: 0;
    padding: 0;
}

body,
select,
textarea,
input {
    color: #686868;
}

header {
    background-color: #c6e48a;
    padding: 30px;
    width: 100%;
}

header,
.sub-header {
    text-align: center;
}

h1 {
    text-transform: uppercase;  
}

h1,
h2,
h3 {
    font-size: 18px;
    color: #424242;
}


fieldset,
input,
select,
textarea {
    border: 0;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
    background-color: #ededed;
    border-radius: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select {
    height: 50px;
}

textarea {
    height: 100px;
}

footer {
    font-style: italic;
    font-size: 12px;
    margin: 35px auto;
}

/* LAYOUT STYLES  */

form,
.top-divider {
    max-width: 100%;
    margin: 20px;
}

.sub-header {
    padding: 20px 0 3px;
    max-width: 90%;
    margin: 0 auto;
}

h3 {
    margin-top: 20px;
    margin-bottom: 40px;
}
.container,
.textarea-container {
    display: flex;
    margin-bottom: 30px;
    flex-direction: column;
}

input,
textarea {
    padding-right: 10px;
    padding-left: 10px;
}
#zip-code {
	min-width: 200px;
    width: 50%;
}

textarea {
    padding-top: 10px;
    padding-bottom: 10px;
}

label {
    margin-bottom: 10px;
}

input[type="checkbox"],
input[type="radio"] {
    margin-right: 7px;
}

.checkbox-radio-container {
    margin-bottom: 10px;
}

.textarea-container {
    margin-top: 25px;
}
/* BUTTON STYLES  */

input[type="submit"] {
    background-color: #A270B3;
    color: #fff;
    width: 100%;
    border-radius: 4px;
    padding: 20px;
}

/* PSEUDO CLASS */

input::placeholder {
    text-align: right;
    font-size: 12px;
    padding: 10px;
    font-style: italic;
}

/* PSEUDO-ELEMENTS  */

input[type="submit"]:active {
    background-color: #c6e48a;
    color: #424242;
}

input:focus, 
textarea:focus, 
select:focus {
    outline: none; 
    border: 3px solid #c6e48a;
    background-color: #fff;
    transition: background-color 0.25s ease-out;
}

/* DIVIDER STYLES  */


.top-divider {
    border-top: 6px #c6e48a solid;

    
}

.bottom-divider {
    border-top: none;

}

.top-divider,
.bottom-divider {
    border-bottom: 2px #c6e48a solid;
    height: 5px;   
    border-left: none;
    border-right: none;
    max-width: 100%;

}

/* MEDIA QUERIES */

@media (min-width: 768px) {

main {
    width: 50%;
}

.container {
    flex-direction: row;
    justify-content: space-between;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select {
    width: 100%;
}

.contact-label {
	min-width: 250px;
    width: 250px;
    align-self: center;
}


   .zip-code-container {
    width: 48%;
}

}